body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	overflow: hidden;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
}

#meta {
	position: absolute;
	top: 50px;
	left: 35%;
	width: 30%;
	font-size: 80%;
	white-space: pre;
}

#logo {
	position: absolute;
	bottom: 10px;
	right: 40px;
	opacity: 0.8;
}
